*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-width: 710;
}
html{
    scroll-behavior: smooth;
}

body{
	background-color: #ECF0F4;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



#log_page{
    background: linear-gradient(-45deg, #ee7752, #F6AAD1, #B0DDF0, #FBF7AE);

    background-attachment: fixed;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}


.hero{
    min-height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    padding: 11rem 0;
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: gradient 15s ease infinite;
}

.navbar{
    transition: all 0.8s;
}

.head{
    /* background: url("../assets/expo2020.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed; */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: gradient 15s ease infinite;
    min-height: 100vh;
    transition: all 0.8s;
}

.priorityview{
    z-index: 3;
}

.nt-3{
    margin-top: -3rem;
}

.nt-5{
    margin-top: -5rem;
}

.nt-15{
    margin-top: -15rem;
}



/* .image-holder{ */
	/* display: none; */
	/* width: 100vw; */
    /* height: 20vh; */
    /* object-fit: contain; */
	/* position: relative; */
    /* z-index: -100; */
/* } */
.vertical-nav{
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    transition: all 0.5s;
}


#sidebarCollapse{
    position: fixed;
}

#sidebar.active{
    margin-left: -17rem;

}


#content-page.active{
    width: 100%;
    margin: 0;
}


.dash-contents{
    width: calc(100%-17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}



.select:hover{
    color: #080808;
    /* display: none; */
}

